h1 {
    text-align: center; 
    margin-top: 25px;
}

p {
    text-align: center; 
    font-size: large;
}

#start-btn {
    display: block; 
    width: 100px; 
    margin-top: 100px;
}

#q-btns {
    margin: 0 auto;
}

.q-btns {
    margin: 25px 0px;
    display: block; 
    width: 400px;
}

#timer {
    position: fixed;
    top: 0;
    right: 20px;
}